/* Grid.css */
.game-container {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  grid-row-start: 2;
  align-items: center;
}
@media (min-width: 640px) {
  main {
    align-items: flex-start;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}
.grid-player-container {
  display: grid;
  grid-auto-columns: 50px;
  column-count: 4
}
.grid-button {
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
.player-cat {
  height: 100px;
  width: 100px;
}
.grid-row {
  display: contents
}
.remove-border {
  border: 5px solid red
}
.active-player {
  text-align:center;
  position: absolute;
  left: 49%;
}